/* 
    Document   : newcss2
    Created on : Dec 4, 2013, 2:51:21 AM
    Author     : Luaa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

